@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,4B8r3B4p7yhRXuBWLqsQ546WR43cqQwrbXMDFnBi6vSJBeif8tPW85a7r7DM961Jvk4hdryZoByEp8GC8HzsqJpRN4FxGM9=swap");
html, body {
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

footer {
  background-color: #1D1A7C;
  color: #ffffff;
  padding: 16px 0;
  border-top: 5px solid #5C57F6;
}

footer > div > div > div > h6 {
  color: #ffffff;
}

h1 {
  color: #2B27B8;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

h2 {
  color: #5C57F6;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

h3 {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

h4 {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

h5 {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

h6 {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

p {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.efeito {
  position: relative;
}

.efeito > span {
  position: absolute;
  z-index: 0;
  border-bottom: 10px solid #5C57F6;
  top: 35px;
  opacity: 0.5;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.estilo-projetos {
  background-color: #ffffff;
  width: 200px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

ul li a:hover {
  color: #00B0FB;
}

section {
  margin: 80px 0;
  padding: 16px 0;
}

#projetos {
  background-color: #5C57F6;
}

.img-estilo {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 10px 10px 68px -24px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 10px 10px 68px -24px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 10px 68px -24px rgba(0, 0, 0, 0.42);
}

/** Efeito 1 em títulos
Para funcionar tem que colocar desta forma no html
<h1 class="titulo-efeito" data-text="Sobre" style="color:#fff;">Sobre</h1> **/
.titulo-efeito {
  font-size: 100px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.titulo-efeito:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 #5C57F6;
  top: 0;
  color: #ffffff;
  /*usar a cor de fundo solido*/
  background: #000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: titulo-efeito1 5s infinite linear alternate-reverse;
}

.titulo-efeito:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #1D1A7C;
  top: 0;
  color: #ffffff;
  /*usar a cor de fundo solido*/
  background: #000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: titulo-efeito2 8s infinite linear alternate-reverse;
}

@-webkit-keyframes titulo-efeito1 {
  0% {
    clip: rect(59px, 9999px, 84px, 0);
  }
  5% {
    clip: rect(46px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(72px, 9999px, 84px, 0);
  }
  15% {
    clip: rect(58px, 9999px, 43px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 62px, 0);
  }
  25% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  30% {
    clip: rect(59px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 44px, 0);
  }
  40% {
    clip: rect(7px, 9999px, 81px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 35px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 98px, 0);
  }
  55% {
    clip: rect(8px, 9999px, 41px, 0);
  }
  60% {
    clip: rect(29px, 9999px, 32px, 0);
  }
  65% {
    clip: rect(7px, 9999px, 55px, 0);
  }
  70% {
    clip: rect(36px, 9999px, 60px, 0);
  }
  75% {
    clip: rect(75px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 16px, 0);
  }
  85% {
    clip: rect(47px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(8px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(0, 900px, 0, 0);
  }
  100% {
    clip: rect(0, 900px, 0, 0);
  }
}

@keyframes titulo-efeito1 {
  0% {
    clip: rect(59px, 9999px, 84px, 0);
  }
  5% {
    clip: rect(46px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(72px, 9999px, 84px, 0);
  }
  15% {
    clip: rect(58px, 9999px, 43px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 62px, 0);
  }
  25% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  30% {
    clip: rect(59px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 44px, 0);
  }
  40% {
    clip: rect(7px, 9999px, 81px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 35px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 98px, 0);
  }
  55% {
    clip: rect(8px, 9999px, 41px, 0);
  }
  60% {
    clip: rect(29px, 9999px, 32px, 0);
  }
  65% {
    clip: rect(7px, 9999px, 55px, 0);
  }
  70% {
    clip: rect(36px, 9999px, 60px, 0);
  }
  75% {
    clip: rect(75px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 16px, 0);
  }
  85% {
    clip: rect(47px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(8px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(0, 900px, 0, 0);
  }
  100% {
    clip: rect(0, 900px, 0, 0);
  }
}

@-webkit-keyframes titulo-efeito2 {
  0% {
    clip: rect(7px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(3px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 95px, 0);
  }
  15% {
    clip: rect(30px, 9999px, 70px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(67px, 9999px, 80px, 0);
  }
  30% {
    clip: rect(36px, 9999px, 12px, 0);
  }
  35% {
    clip: rect(98px, 9999px, 81px, 0);
  }
  40% {
    clip: rect(99px, 9999px, 91px, 0);
  }
  45% {
    clip: rect(88px, 9999px, 24px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 57px, 0);
  }
  55% {
    clip: rect(17px, 9999px, 82px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 29px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 62px, 0);
  }
  70% {
    clip: rect(35px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(43px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(67px, 9999px, 58px, 0);
  }
  90% {
    clip: rect(8px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(0, 900px, 0, 0);
  }
  100% {
    clip: rect(0, 900px, 0, 0);
  }
}

@keyframes titulo-efeito2 {
  0% {
    clip: rect(7px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(3px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 95px, 0);
  }
  15% {
    clip: rect(30px, 9999px, 70px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(67px, 9999px, 80px, 0);
  }
  30% {
    clip: rect(36px, 9999px, 12px, 0);
  }
  35% {
    clip: rect(98px, 9999px, 81px, 0);
  }
  40% {
    clip: rect(99px, 9999px, 91px, 0);
  }
  45% {
    clip: rect(88px, 9999px, 24px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 57px, 0);
  }
  55% {
    clip: rect(17px, 9999px, 82px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 29px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 62px, 0);
  }
  70% {
    clip: rect(35px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(43px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(67px, 9999px, 58px, 0);
  }
  90% {
    clip: rect(8px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(0, 900px, 0, 0);
  }
  100% {
    clip: rect(0, 900px, 0, 0);
  }
}

/** Fim efeito 1 em títulos **/
/*# sourceMappingURL=estilo.css.map */