@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,4B8r3B4p7yhRXuBWLqsQ546WR43cqQwrbXMDFnBi6vSJBeif8tPW85a7r7DM961Jvk4hdryZoByEp8GC8HzsqJpRN4FxGM9=swap");
/*
$primaria:#7500B8;
$primaria-escura:#3E0062;
$primaria-clara:#A101FC;

$primaria:#0057FA;
$primaria-escura:#002F88;
$primaria-clara:#5B94FF;
*/
.btn-primary {
  background-color: transparent;
  color: #090909;
  border-color: #090909;
}

.btn-primary:hover {
  background-color: #383838;
  color: #ffffff !important;
  border-color: #383838;
}

.btn-secondary {
  background-color: #090909;
  color: #ffffff;
  border-color: #090909;
}

.btn-secondary:hover {
  background-color: #383838;
  color: #ffffff !important;
  border-color: #383838;
}

a {
  color: #000;
}

a:hover {
  color: #383838;
}

header {
  background: #090909;
}

nav {
  background-color: #090909;
}

.logo-header {
  font-size: 28px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 4px 16px;
  cursor: crosshair;
}

.logo-header:hover {
  transition: ease all 0.4s;
  color: #383838;
  border: 1px solid #383838;
  background-color: #000;
}

ul.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ul.navbar-nav > li > a {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
}

ul.navbar-nav > li > a:hover, ul.navbar-nav > li > a:focus, ul.navbar-nav > li > a.active {
  color: #CCC9C9;
  transition: ease all 0.4s;
}

.navbar-toggler-icon {
  background-image: none;
}

.input-menu {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 0px;
  left: 0px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines input[type=checkbox]:checked ~ .line1 {
  transform: rotate(45deg);
}

.hamburger-lines input[type=checkbox]:checked ~ .line2 {
  transform: scaleY(0);
}

.hamburger-lines input[type=checkbox]:checked ~ .line3 {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 56px;
    right: -2000px;
    width: 250px;
    height: 100%;
    text-align: right;
    visibility: hidden;
    opacity: 0.5;
  }
  .navbar-collapse.show {
    position: fixed;
    top: 76px;
    right: 0;
    height: 100%;
    width: 250px;
    text-align: right;
    background: #000;
    display: block !important;
    opacity: 1;
    transition: all 0.5s;
    visibility: visible;
    z-index: 2;
    overflow: hidden;
    padding: 0 30px;
  }
  ul.navbar-nav {
    margin-top: 24px;
  }
  ul.navbar-nav > li {
    padding: 8px;
  }
}
.logo-footer {
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 42px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  cursor: crosshair;
  border: 1px solid #ffffff;
}

.logo-footer:hover {
  transition: ease all 0.4s;
  color: #383838;
  border: 1px solid #383838;
  background-color: #000;
}

footer {
  background-color: #383838;
  color: #ffffff;
  padding: 16px 0;
}

footer > div > div > div > h6 {
  color: #ffffff;
}

.contato {
  text-align: end;
  padding: 4px 0;
  font-size: 18px;
}

.contato > ul > li > a:hover {
  transition: ease all 0.4s;
  color: #000;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 8px 0;
  background-color: #000;
}

.ir-para-topo {
  font-size: 16px;
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  .contato {
    text-align: center;
    font-size: 24px;
  }
  .ir-para-topo {
    font-size: 20px;
  }
}
.cookies {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  bottom: 0;
  margin: 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.cookies p {
  color: #ffffff;
  margin: 0;
}

.cookies p > a {
  color: #ffffff;
}

.cookies.is-open {
  display: block;
}

html, body {
  font-family: "Noto Sans", sans-serif;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

h1 {
  color: #090909;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

h2 {
  color: #383838;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

h3 {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

h4 {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

h5 {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

h6 {
  color: #090909;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

p {
  color: #272727;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.efeito {
  position: relative;
}

.efeito > span {
  position: absolute;
  z-index: 0;
  border-bottom: 10px solid #383838;
  top: 35px;
  opacity: 0.5;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.estilo-projetos {
  background-color: #ffffff;
  width: 200px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

ul li a:hover {
  color: #00B0FB;
}

section {
  margin: 80px 0;
  padding: 16px 0;
}

#projetos {
  background-color: #090909;
}

.img-estilo {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 10px 10px 68px -24px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 10px 10px 68px -24px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 10px 68px -24px rgba(0, 0, 0, 0.42);
}

.img-sobre {
  background-image: url("../images/sobre-2023-1.png");
  width: 455px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease all 0.4s;
  background-position: center;
  cursor: crosshair;
}

.img-sobre:hover {
  background-image: url("../images/sobre-2023-2.png");
  width: 355px;
  height: 386px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.space-100 {
  display: block;
  width: 100%;
  height: 100px;
}

.space-50 {
  display: block;
  width: 100%;
  height: 50px;
}

.space-20 {
  display: block;
  width: 100%;
  height: 20px;
}

@media only screen and (max-width: 991px) {
  section {
    margin: 40px 0;
    padding: 16px 0;
  }
  .space-100 {
    display: block;
    width: 100%;
    height: 50px;
  }
  .space-50 {
    display: block;
    width: 100%;
    height: 15px;
  }
  .space-20 {
    display: block;
    width: 100%;
    height: 10px;
  }
}/*# sourceMappingURL=estilo.css.map */